<h1>All Our Flats</h1>
<% @flats.each do |flat| %>

  <div class="container">
    <div class="row">
     <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src=".../100px180/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= flat.name %></h5>
            <p class="card-text"><%= flat.address %></p>
            <p class="card-text"><%= flat.number_of_guests %></p>
            <p class="card-text"><%= flat.price_per_night %></p>
            <%= link_to "More info", flat_path(flat), class: "btn btn-primary"%>
            <%= link_to "Edit flat", edit_flat_path(flat), class: "btn btn-secondary"%>
            <%= link_to "Delete #{flat.name}",
            flat_path(flat),
            method: :delete,
            data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
      </div>
    </div>
<% end %>
